[Unit]
Description=Homelight-API
StartLimitIntervalSec=0

[Service]
PIDFile=/tmp/homelight-api.pid
User=pi
Restart=always
RestartSec=1
KillSignal=SIGQUIT
ExecStart=node /home/pi/Homelight-API/server.js

[Install]
WantedBy=default.target
